# Remove sensitive data
personal-testing/*
research/juno-vals/csv/*
research/juno-vals/json/*
research/juno-vals/*.csv
research/juno-vals/*.json
research/juno-vals/*.txt

# Secrets and env variables
.env*
.secret*

